* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  height: 100vh;
  width: 100vw;
  background-color: $off-white;
  font-size: 10px;
}

body,
#root {
  height: 100%;
  width: 100%;
}

::-moz-selection {
  /* Code for Firefox */
  color: $off-white;
  background-color: $dark-peach;
}

::selection {
  color: $off-white;
  background-color: $dark-peach;
}

@include responsive(tab-land) {
  html {
    font-size: 7px;
  }
}
