// Mixins.
@mixin responsive($breakpoint) {
  @if $breakpoint==phone {
    @media only screen and (max-width: 600px) {
      @content;
    }
  }

  @if $breakpoint==phone-land {
    @media only screen and (max-width: 700px) {
      @content;
    }
  }

  @if $breakpoint==tab-port {
    @media only screen and (max-width: 900px) {
      @content;
    }
  }

  @if $breakpoint==tab-land {
    @media only screen and (max-width: 1200px) {
      @content;
    }
  }

  @if $breakpoint==big-desktop {
    @media only screen and (min-width: 1600px) {
      @content;
    }
  }
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-center-y {
  display: flex;
  align-items: center;
}

@mixin absolute-center-y {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@mixin absolute-center-x {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
