.sign-up {
  @include flex-center-y;
  height: 100%;
  width: 100%;
  background: $off-white url("../../../public/assets/background-image.svg") no-repeat
    center center fixed;
  background-size: cover;

  &__form {
    @include flex-center;
    flex-direction: column;
    max-width: 32.1rem;
    min-width: 23.7rem;
    width: 24%;
    margin-left: 55%;

    &__header {
      font-size: $heading-text-1;
      color: $crimson;
      font-weight: 600;
      text-align: left;
      margin-bottom: 4rem;
      line-height: 3.6rem;
    }

    .ba-input {
      margin-bottom: 2.4rem;
    }

    .ba-button {
      align-self: flex-end;
      margin-top: 1rem;
    }
  }
}

@include responsive(tab-land) {
  .sign-up {
    @include flex-center;
    background: $off-white url("../../../public/assets/mobile-background.jpg")
      no-repeat center center fixed;
    background-size: cover;
    width: 100%;

    &__form {
      max-width: 60rem;
      min-width: 40rem;
      width: 40%;
      margin-left: unset;
      border: 2px solid $off-white;
      background: $off-white;
      padding: 9rem;
      border-radius: 0.4rem 4rem;
      box-shadow: 0px 10px 20px 0px $shadow-color;
    }
  }
}

@include responsive(phone-land) {
  .sign-up {
    &__form {
      padding: 4rem;
    }
  }
}
