.sign-up {
  @include flex-center-y;
  height: 100%;
  width: 100%;
  background: $off-white url("../../../public/assets/background-image.svg") no-repeat
    center center fixed;
  background-size: cover;

  &__form {
    @include flex-center;
    flex-direction: column;
    max-width: 32.1rem;
    min-width: 23.7rem;
    width: 24%;
    margin-left: 55%;

    &__header {
      font-size: $heading-text-1;
      color: $crimson;
      font-weight: 600;
      text-align: left;
      margin-bottom: 4rem;
      line-height: 3.6rem;
    }

    .ba-input {
      margin-bottom: 2.4rem;
    }

    .ba-button {
      align-self: flex-end;
      margin-top: 1rem;
    }
  }
}
