@import "bootstrap/dist/css/bootstrap.min.css";

// Colors.
$off-white: #f4ede4;
$light-peach: #ecb995;
$dark-peach: #cb7666;
$dark-teal: #0a3840;
$crimson: #a93d49;
$light-yellow: #e2dab5;
$shadow-color: rgba(18, 18, 18, 0.325);

// Font Size.
$body-text-1: 1.4rem;
$body-text-2: 1.2rem;

$heading-text-1: 3.2rem;
$heading-text-2: 2.6rem;
$heading-text-3: 2.2rem;

// Font Weight.
$weight-thin: 100;
$weight-extra-light: 200;
$weight-light: 300;
$weight-normal: 400;
$weight-medium: 500;
$weight-semi-bold: 600;
$weight-bold: 700;
$weight-extra-bold: 800;
$weight-black: 900;

// Shared.
@import "../src/shared/mixins";
@import "../src/shared/base";
@import "../src/shared/input/input";
@import "../src/shared/button/button";

// Components.
@import "../src/components/sign-up/sign-up";
@import "../src/components/products/products";
