$off-white: #f4ede4;
$light-peach: #ecb995;
$dark-peach: #cb7666;
$dark-teal: #0a3840;
$crimson: #a93d49;
$shadow-color: rgba(18, 18, 18, 0.474);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
  width: 100vw;
  background-color: $off-white;
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
}

body,
#root {
  height: 100%;
  width: 100%;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@import '../src/components/sign-up/sign-up';
