@import 'bootstrap/dist/css/bootstrap.min.css';

// Colors.
$off-white: #f4ede4;
$light-peach: #ecb995;
$dark-peach: #cb7666;
$dark-teal: #0a3840;
$crimson: #a93d49;
$shadow-color: rgba(18, 18, 18, 0.325);

// Font Size.
$body-text-1: 1.4rem;
$body-text-2: 1.2rem;

$heading-text-1: 3.2rem;

// Font Weight.
$weight-thin: 100;
$weight-extra-light: 200;
$weight-light: 300;
$weight-normal: 400;
$weight-medium: 500;
$weight-semi-bold: 600;
$weight-bold: 700;
$weight-extra-bold: 800;
$weight-black: 900;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html {
  height: 100vh;
  width: 100vw;
  background-color: $off-white;
  font-size: 10px;
}

body,
#root {
  height: 100%;
  width: 100%;
}

::-moz-selection {
  /* Code for Firefox */
  color: $off-white;
  background-color: $dark-peach;
}

::selection {
  color: $off-white;
  background-color: $dark-peach;
}

// Mixins.
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Shared.
@import '../src/shared/input/input';
@import '../src/shared/button/button';

// Components.
@import '../src/components/sign-up/sign-up';
